<!--About Insider-->
<div class="jumbotron text-center">
    <h1> <img id="brand-img" src="assets/logo1.jpg"> {{brand}}</h1>
    <p class="lead"> <i> Welcome to the {{brand}} portal by <strong>Nordics Team</strong> </i> </p>
</div>

<!--For timesheet card-->
<md-card>
    <md-card-title>Timesheet Management</md-card-title>
    <hr>
    <img md-card-image src="assets/timesheet.jpg">
    <md-card-content>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
            Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic
            words etc.</p>
    </md-card-content>
</md-card>

<!--For efforts card-->
<md-card>
    <md-card-title>Efforts Management</md-card-title>
    <hr>
    <img md-card-image src="assets/efforts.jpg">
    <md-card-content>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
            Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic
            words etc.</p>
    </md-card-content>
</md-card>

<!--For timesheet card-->
<md-card>
    <md-card-title>Knowledge Management</md-card-title>
    <hr>
    <img md-card-image src="assets/knowledge.jpg">
    <md-card-content>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
            Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic
            words etc.</p>
    </md-card-content>
</md-card>

<!--For efforts card-->
<md-card>
    <md-card-title>Requirement Tracking</md-card-title>
    <hr>
    <img md-card-image src="assets/requirement.jpg">
    <md-card-content>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
            Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic
            words etc.</p>
    </md-card-content>
</md-card>