<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
    
    <main style="padding:10px;">
        <div class="page-content">
            <p>&lt;md-list&gt; is a wrapper for native input and textarea elements. This container applies Material Design styles and behavior while still allowing direct access to the underlying native element.</p>
            <p>The native element wrapped by the md-input-container must be marked with the mdInput directive.</p>
            <md-card>
                <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                    <header class="mdl-layout__header">
                        <div class="mdl-layout__header-row">
                            <!-- Title -->
                            <span class="mdl-layout-title">List</span>
                            <!--for nspace-->
                            <div class="mdl-layout-spacer"></div>
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" onclick="document.getElementById('code').style.display='block'">
                                <i class="material-icons">code</i>
                            </button>
                        </div>
                    </header>

                    <main class="mdl-layout__content">
                        <div class="page-content" style="padding:10px;">
                            <hr>
                            <md-list>
                              <md-list-item>Item 1</md-list-item>
                              <md-list-item>Item 2</md-list-item>
                              <md-list-item>Item 3</md-list-item>
                            </md-list>
                            <br>
                            <span id="code" style="display:none"><hr>Html<br>
                             <samp> &lt;md-list&gt;<br>
                                 &lt;md-list-item>Item 1 &lt;/md-list-item><br>
                                 &lt;md-list-item>Item 2 &lt;/md-list-item><br>
                                 &lt;md-list-item>Item 3 &lt;/md-list-item><br>
                              &lt;/md-list&gt;</samp>
                            
                            <hr>
                            API Reference<br>
                             <samp> import "MdListModule" from '@angular/material'; </samp>
                            </span>
                            <hr>
                        </div>
                    </main>
                </div>
            </md-card>
        </div>
    </main>
</div>