<div class="row">
    <!--thumbnail for every module-->
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <md-card>
                <md-card-title> Angular2 - Components </md-card-title>
                <!--<hr>-->
                <md-card-subtitle> Timesheet is neccesary to fill otherwise you will get LOP </md-card-subtitle>
                <img md-card-img src="assets/angular2.jpg" width="100%">
                <md-card-content> <button id="ang-components" md-raised-button routerLink="/ang-comp"> Components </button></md-card-content>
            </md-card>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <md-card>
                <md-card-title> Timesheet </md-card-title>
                <!--<hr>-->
                <md-card-subtitle> Timesheet is neccesary to fill otherwise you will get LOP </md-card-subtitle>
                <img md-card-img src="assets/timesheet.jpg" width="100%">
                <md-card-content> <button id="timesheet" md-raised-button routerLink="/timesheet"> Timesheet </button></md-card-content>
            </md-card>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <md-card>
                <md-card-title> Efforts Management </md-card-title>
                <!--<hr>-->
                <md-card-subtitle> Timesheet is neccesary to fill otherwise you will get LOP </md-card-subtitle>
                <img md-card-img src="assets/efforts.jpg" width="100%">
                <md-card-content> <button id="efforts" md-raised-button routerLink="/efforts"> Efforts Management </button> </md-card-content>
            </md-card>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <md-card>
                <md-card-title> Knowledge Management </md-card-title>
                <!--<hr>-->
                <md-card-subtitle> Timesheet is neccesary to fill otherwise you will get LOP </md-card-subtitle>
                <img md-card-img src="assets/knowledge.jpg" width="100%">
                <md-card-content> <button id="knowledge" md-raised-button routerLink="/knowledge"> Knowledge </button> </md-card-content>
            </md-card>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <md-card>
                <md-card-title> Requirement Management </md-card-title>
                <!--<hr>-->
                <md-card-subtitle> Timesheet is neccesary to fill otherwise you will get LOP </md-card-subtitle>
                <img md-card-img src="assets/requirement.jpg" width="100%">
                <md-card-content> <button id="requirement" md-raised-button routerLink="/requirement"> Requirement Management </button> </md-card-content>
            </md-card>
        </div>
    </div>
</div>