<div class="panel panel-default">
    <div class="panel-heading">
        <img class="img-responsive" alt="angular2" src="assets/angular.jpg">
    </div>
    <div class="panel-body text-justify para">
        Angular 2.0 was announced at the ng-Europe conference 22-23. September 2014. The drastic changes in the 2.0 version created considerable controversy among developers. On April 30, 2015, the Angular developers announced that Angular 2 moved from Alpha
        to Developer Preview. Angular 2 can be downloaded from the official website. Angular 2 moved to Beta in December 2015, and the first release candidate was published in May 2016. The final version was released on September 14, 2016.
        <p>
        We challenged ourselves to create a visual language for our users that synthesizes the classic principles of good design with the innovation and possibility of technology and science. This is material design. This spec is a living document that will be
        updated as we continue to develop the tenets and specifics of material design.
        </p>
    </div>
</div>