md-sidenav-container {
    margin: 0 auto;
    background-color: #ecf0f1;
    min-height: 550px;
}

#home {
    width: 94%;
    background: transparent;
    font-family: cursive;
    font-size: 18px;
    font-weight: bold;
}

#btn-time {
    width: 5%;
    background: transparent;
}

md-sidenav {
    width: fit-content;
    background-color: #222222;
    text-align: center;
    min-height: 100%;
}

h6 {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    background-color: #ecf0f1;
}

.comp-list {
    color: whitesmoke;
}